name: call-build

on:
  workflow_dispatch:
  push:
    branches:
      - 'release'
      - 'nightly'

jobs:
  call:
    permissions:
      contents: write
      packages: write
    uses: runlix/build-workflow/.github/workflows/build-on-call.yml@main
    secrets: inherit
